.home {
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para la introducción */
  .intro p {
    font-size: 1.8rem;
    color: #333;
    line-height: 1.8;
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .highlight {
    font-weight: bold;
    color: #FF4500;
    font-size: 1.8rem;
  }
  
  /* Estilos para Características Principales */
  .features {
    margin: 50px 0;
  }
  
  .features-box {
    background-color: #ffffff;
    color: black;
    padding: 20px 15px 20px 15px; /* Ajuste de espacio superior/inferior e izquierdo/derecho */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    
    margin: 0 auto; /* Centra el cuadro */
    margin-top: 0;
  }
  
  .features h3 {
    font-family: 'Bangers', sans-serif;
    font-size: 2rem;
    margin: 0; /* Elimina el margen superior para que el título esté pegado */
    padding-bottom: 15px; /* Añade un poco de espacio hacia abajo */
    border-bottom: 2px solid #FF4500; /* Línea decorativa debajo del título */
  }
  
  .features ul {
    list-style-type: none;
    padding: 0;
  }
  
  .features li {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  /* Estilo para la imagen */
  .logo {
    max-width: 250px;
    margin-top: -60px; /* Empuja la imagen hacia arriba */
    margin-left: auto;
    margin-right: auto;
    display: block;
  }





  